/* =========================
   RESET E BASE GLOBAL
========================= */
* {
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #EEEFF4;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 5rem;
}

@media (max-width: 868px) {
  body {
    padding: 2rem;
  }

  #root {
    max-width: 100%;
  }
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
}

*, *::before, *::after {
  box-sizing: border-box;
}

#root {
  width: 100%;
  max-width: 1250px;
   padding: 0 1rem;
}

/* =========================
   TIPOGRAFIA
========================= */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

/* =========================
   ELEMENTOS BASE
========================= */
ul {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}